@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}
:root {
    --outside:  #FFF8E7;
    --textColor: #F5F5DC;
    --orange: #FF9900;
    --textFont: "Poppins", sans-serif;    
    --textSize: 1.5rem;
    --titleSize: 3rem;
    --violet: #AC74ED;
    --darkviolet: #21013B;
}
.margin {
    margin-top: 10%;
}
body {
    background: black;
    background-size: cover;
    font-family: var(--textFont);
    scroll-behavior: smooth;
}
.white-circle {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(white 20%, black 90%);
    width: 700px;
    aspect-ratio: 1;
    border-radius: 50%;
    filter: blur(50px);
}
nav {
    height: 50px;
    position: sticky;
    top: 0;
    display: flex;
    padding: 1% 0;
    z-index: 100;
}
.nav-logo {
    width: calc(50% - 30px);
    padding: 0 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    position: relative;
    color: var(--violet);
    font-weight: 500;
    font-size: var(--textSize);

}
#awsLogo {
    width: 50px;
    aspect-ratio: 1;
    object-fit: contain;
}
.nav-list {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: end;

}
.option-list {
    list-style-type: none;
    color: var(--outside);
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
    width: 100%;
}
.option-list > li {
    cursor: pointer;
    height: 100%;
    align-content: center;
    padding: 0 3%;
    border-radius: 50px;
    transition: all 0.3s ease;
    text-shadow: 0px 0px 10px white;
}
a {
    transition: all 0.3s ease;
    text-decoration: none;
    color: white;
}
.option-list > li > a:hover {
    text-shadow: var(--violet) 0 0 30px;
    color: var(--violet);
    
}

.sections {
    width: 100%;
    padding: 3% 0;
}
.cover-page {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--outside);
}
.cover-page > * {
    z-index: 10;
}
#title {
    font-weight: 500;
    font-size: 4rem;
}
span {
    color: var(--orange);
}
#subtitle {
    width: 50%;
    text-align: center;
}

.about {
    position: relative;
    min-height: 500px;
    display: flex;
    gap: 30px;
    color: white;
    flex-direction: column;
    cursor: none;
}
.section-title {
    font-size: var(--titleSize);
    align-self: center;
    text-align: center;
    color: white;
}
.about-divider {
    max-width: 90%;
    padding: 2% 1%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;

}
.blackhole {
    width: 150px;
    aspect-ratio: 1;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 50px var(--outside);
    position: absolute;
    z-index: 50;
    pointer-events: none;
    transition: width 0.2s ease, transform 0.05s linear;
    filter: invert(1deg);
    opacity: 0;
    backdrop-filter: invert();
}

.card {
    cursor: none;
    padding: 3%;
    width: 200px;
    height: 300px;
    box-shadow: 0px 0px 50px var(--violet);
    border-radius: 20px;
    transform: rotateY(20deg) rotateX(20deg);
    transition: all 0.3s ease;
}
.card-desc {
    width: 40%;
    text-align: justify;
}
#missionCard {
    transform: rotateY(20deg) rotateX(-20deg);
}

.card:hover {
    transform: rotateY(0deg) rotateX(0deg) !important;
    box-shadow: 0px 0px 50px var(--outside);
}

.events {
    background: url('./assets/space.jpg') 100% repeat fixed;
    background-size: cover;
    padding: 5% 0;
}
.event-divider {
    max-width: 90%;
    padding: 2% 1%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.event-card {
    width: 300px;
    aspect-ratio: 1;
    background-color: transparent;
    box-shadow: 0px 0px 20px white;
    backdrop-filter: blur(2px);
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
}
.event-card:hover {
    backdrop-filter: blur(10px);
}
.event-img {
    width: 80%;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.event-popup {
    z-index: 50;
    width: 50%;
    min-height: 40%;
    max-height: 60%;
    overflow: auto;
    padding: 3%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px var(--violet);
    background: rgba(255, 255, 255, 0.5);
    scroll-behavior: smooth;
}
.event-popup::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.5);
}
.event-popup::-webkit-scrollbar-thumb {
    background-color: rgba(172, 116, 237, 0.5);
}

.popup-img {
    width: 100%;
}
.popup-text {
    width: 100%;
    text-align: justify;
}
.close-btn {
    width: 40px;
    position: sticky;
    left: 0;
    top: 0;
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px black);
}

.faqs {
    background-color: red;
    
}

footer {
    width: 100%;
    background: radial-gradient(ellipse at bottom, var(--outside), black 70%);
    padding: 5% 0;
}

